@media (max-width: 1200px) {
  .rating-top {
    background-size: 40%;
  }
  .edit-company__btns {
    flex-wrap: wrap;
    width: 100%;
    .custom-checkbox {
      width: 100%;
      order: 1;
      margin-bottom: 25px;
      margin-left: 0;
    }
    .btn {
      order: 2;
    }
  }
  .offer {
    &.offer_row .card-company__logo-label-wrapp {
      left: 200px;
      right: inherit;
      top: 40px;
    }
  }
  .all-company {
    .edit-company__btns {
      .btn {
        margin-bottom: 10px;
      }
    }
  }
}
@media (max-width: 992px) {
  .ko-progress-circle {
    width: 200px;
    height: 200px;
    .ko-progress-circle__slice,
    .ko-progress-circle__fill {
      width: 200px;
      height: 200px;
    }
    .ko-progress-circle__slice {
      clip: rect(0px, 200px, 200px, (200px/2));
      .ko-progress-circle__fill {
        clip: rect(0px, (200px/2), 200px, 0px);
      }
    }
    .ko-progress-circle__overlay {
      width: 190px;
      height: 190px;
      margin-left: (200px - 190px)/2;
      margin-top: (200px - 190px)/2;
    }
  }
  .header {
    &-burger {
      margin-right: 15px;
    }
  }
  .main-tab .tab__item {
    margin-right: 20px;
    font-size: 12px;
  }
  .all-company .edit-company__btns {
    .btn {
      margin-left: 0;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .regulations {
    &__item {
      display: block;
    }
    &__item-title {
      font-size: 18px;
    }
    &__item-text {
    }
  }

  .card-company {
    &__material-card {
      width: calc(100% - 12px);
    }
    &__services-item {
      width: calc(100% - 12px);
    }
    &__gallery-item {
      width: calc(50% - 2px);
      padding-top: 50%;
    }
  }
  .form-input__label {
    display: block;
    margin-bottom: 10px;
  }

  .search {
    &-wrapper {
      display: block;
      .btn_search {
        line-height: inherit;
        width: 100%;
        max-width: 100%;
        padding: 16px 30px;
        margin: auto;
      }
    }
    &-input {
      display: block;
      &__label {
        max-width: 100%;
        width: 100%;
        font-weight: 600;
        font-size: 14px;
        padding: 0;
        margin-bottom: 5px;
        color: $text;
      }
      &__item {
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
        border: none;
        .custom-select.selectize-control .selectize-input {
          padding: 18px;
          padding-left: 12px;
          border: 1px solid #e9eef2;
          &::after {
            top: 20px;
          }
          &.dropdown-active:after {
            top: 28px;
          }
        }
      }
      &_number,
      &_region {
        text-align: left;
        .form-input {
          text-align: left;
          padding: 18px;
          padding-left: 12px;
          border: 1px solid #e9eef2;
        }
      }
      .form-input {
        padding: 18px;
        padding-left: 12px;
        border: 1px solid #e9eef2;
      }
    }
  }

  .offer {
    &.offer_grid {
      .offer__item {
        flex: 0 0 50%;
        max-width: 50%;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
    &.offer_row {
      .offer__bottom {
        margin-bottom: 25px;
      }
      .offer__buttons {
        justify-content: center;
        position: static;
      }
      .service__icon {
        width: 40px;
        height: 40px;
        img {
          max-width: 20px;
        }
      }
    }
  }

  .start-auction {
    display: block;
    padding: 40px;
    padding-bottom: 250px;
    background-size: 230px;
    background-position: left 40px bottom;
    &__wrap {
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0;
    }
    &__title {
    }
    &__text {
    }
    &__btn {
    }
  }
}

@media (max-width: 767px) {
  //====================== HEADER
  .header {
    &-wrapp {
      padding: 15px 0;
      border-bottom: 1px solid transparent;
    }
    &-burger {
      margin-right: 0px;
      &__lines {
        width: 30px;
      }
      &__bottom {
        width: 17px;
      }
    }
    &-burger__text {
      display: none;
    }
    &-city {
      display: none;
    }
    &-logo__image {
      margin-right: 10px;
      img {
        max-height: 40px;
      }
    }
    &-logo__text {
      font-size: 14px;
    }
    &-phone__svg {
      display: none;
    }
    &-phone__svg--mob {
      display: block;
    }
    &-phone__list {
      margin: 0;
    }
    &-phone__link {
      display: none;
    }
    &-phone__text {
      display: none;
    }
  }
  .navbar {
    &-body {
      max-width: 545px;
      padding: 13px 0 0 0;
    }
    &-head {
      padding-left: 28px;
      padding-right: 28px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header-phone__svg--mob svg {
        fill: #fff;
      }
      .header-logo {
        display: flex;
        min-width: 150px;
        position: relative;
        left: auto;
        top: auto;
        transform: translate(0%, 0%);
        &__text {
          color: #fff;
        }
      }
    }
    &-location {
      display: flex;
      .header-city__image {
        width: 14px;
        height: 16px;
        img {
          width: 13px;
          height: 14px;
        }
      }
    }
    &-menu {
      padding-left: 50px;
      margin-bottom: 50px;
    }
    &-select {
      margin-left: 28px;
      margin-right: 28px;
      border-bottom: 0px;
      max-width: 320px;
    }
    &-option {
      background: #fff;
      padding-top: 22px;
      padding-bottom: 45px;
      flex-direction: column;
      align-items: center;
      .header-phone__list {
        display: block;
      }
      .header-phone__link {
        color: $text;
        font-size: 16px;
        margin-bottom: 3px;
        display: block;
      }
      .header-phone__text {
        display: block;
        font-size: 7px;
        text-transform: uppercase;
      }
    }
    &-policy {
      text-align: center;
      color: $text;
      margin-bottom: 24px;
      max-width: 100%;
      &--mob {
        display: block;
      }
    }
    &-socials {
      margin-top: 25px;
      margin-bottom: 25px;
      .socials__icon {
        border: 1px solid $dark-btn;
        svg {
          stroke: #5f5d5d;
        }
      }
    }
  }
  //====================== HEADER END

  .h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .page-title {
    font-size: 24px;
    line-height: 29px;
  }
  .primary-title {
    font-size: 18px;
    line-height: 22px;
  }
  .company-section__title {
    font-size: 16px;
    line-height: 20px;
  }
  .accordeon-tab {
    font-size: 14px;
  }
  .displaying {
    display: none;
  }
  .filter {
    display: block;
    .btn_add-param {
      max-width: 400px;
    }
  }

  .regulations {
    &__link,
    .btn-come__back {
      display: block;
    }
    &__items {
      position: fixed;
      width: 100%;
      padding: 20px;
      background: #ffff;
      display: block;
      height: 100%;
      width: 100%;
      z-index: 900;
      top: 0;
      left: -100%;
      overflow: auto;
    }
    &.active .regulations__items {
      left: 0;
    }
  }

  .offer {
    &.offer_grid {
      .offer__item {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .card-company__logo-label-wrapp {
        position: static;
        margin-bottom: 20px;
      }
    }
    &.offer_row {
      .offer__top {
        display: block;
        margin-bottom: 20px;
      }
      .card-company__logo-label-wrapp {
        position: static;
        margin-bottom: 20px;
      }
      .offer__profil {
        margin: 0;
        margin-bottom: 20px;
      }
      .offer__bottom {
        display: block;
        margin-bottom: 25px;
      }
      .offer-address__wrap {
        margin: 0;
        margin-bottom: 20px;
      }
      .offer__buttons {
        display: block;
        position: static;
        text-align: center;
        .btn_phone {
          max-width: 100%;
          margin-bottom: 20px;
        }
      }
    }
    .show-more {
      display: block;
    }
    &.offer_grid,
    &.offer_row {
      .offer__bottom {
        display: none;
      }
      .offer__item:first-child {
        .offer__bottom {
          display: block;
        }
      }
    }
  }

  .sidebar__registration {
    display: none;
  }
  .rating-top {
    background: url(../img/icons/top-star.png) bottom center no-repeat;
    background-position-x: center;
    background-size: 250px 150px;
    padding-bottom: 175px;
    padding-top: 25px;
    margin-top: 20px;
    background-color: #f7f9fc;
    &__title {
      max-width: 100%;
    }
    &__text {
      max-width: 100%;
    }
  }

  .all-company {
    .company-section {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .main-tab {
    overflow: inherit;
    .tab__wrapper {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background: #fff;
      margin-bottom: 0;
      width: 100%;
      z-index: 900;
      border-top: 1px solid #e9eef2;
    }
    .tab__item-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
    }
    .tab__item {
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      color: $text;
      text-align: center;
      width: 33.33%;
      padding: 0;
      margin: 0;
      padding: 11px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &.active {
        background: $accent;
        color: #fff;
        .tab__item-icon {
          transition: all 0.3s ease;
          fill: #fff;
        }
      }
      span {
        display: none;
      }
      &:after {
        display: none;
      }
    }
  }

  .custom-checkbox {
    font-size: 12px;
    line-height: 16px;
  }

  .network-error {
    padding: 20px;
  }
  .new-reviews {
    padding: 0;
    background: transparent;
  }
  .sidebar {
    margin-bottom: 50px;
    max-width: 100%;
  }
  .working-btn {
    &:hover {
      background: #fff;
      border: 1px solid #e9eef2;
      color: $text;
    }
  }
  .form {
    &-input__remark-row {
      flex-direction: column;
      align-items: flex-start;
    }
    // &-input__remark {
    //   margin-top: 15px;
    // }
    &-input__wrapp {
      max-width: 100%;
    }
  }

  .search-wrapper .form-input__wrapp {
    max-height: inherit;
    overflow: auto;
  }
  .page-content {
    overflow: inherit;
  }
  .card-company {
    overflow: hidden;
    &__sidebar-head {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
    }
    &__logo-wrapp {
      margin-right: 15px;
      padding-top: 50px;
      margin-bottom: 0;
    }
    &__logo {
      width: 55px;
      height: 55px;
      min-width: 55px;
      min-height: 55px;
      &._premium:after {
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
      }
    }
    &__logo-label-wrapp {
      right: auto;
      left: 0;
    }
    &__title-wrapp {
      margin-bottom: 0px;
      padding-top: 50px;
    }
    &__title {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 5px;
    }
    &__section-title {
      &._mob {
        display: block;
      }
    }
    &__section-row {
      align-items: center;
    }
    &__rating-block {
      flex-direction: column;
      .stars-rating__item {
        width: 13px;
        height: 13px;
      }
    }

    &__material-title {
      &._mob {
        display: block;
      }
    }
    &__accordeon-title-mob {
      display: block;
    }
    &__accordeon-mob {
      border-radius: 3px;
      border: 1px solid #e9eef2;
      .accordeon-content {
        display: none;
      }
      .accordeon-tab {
        padding: 20px 12px;
        display: block;
        pointer-events: inherit;
        font-size: 14px;
        line-height: 17px;

        // border-bottom-color: $primary-1;
        padding: 20px 12px;
        border-radius: 3px 3px 0 0;
        position: relative;
        &:after {
          content: '';
          display: block;
        }
      }
      .accordeon-wrapper {
        border-bottom: 1px solid #e9eef2;
        &:last-child {
          border-bottom: none;
        }
        &.active .accordeon-tab:after {
          transform: rotate(-45deg);
          transition: all 0.3s ease;
        }
      }
    }
    &__table-title {
      background: #fff;
      padding: 0px 0px 12px 0px;
      &._mob {
        display: block;
      }
    }
    &__table {
      padding: 0px;
      margin: 0;
    }
    &__table-body {
      overflow-x: scroll;
      padding: 30px 10px;
      table {
        thead {
          th {
            font-size: 10px;
            padding: 10px 0 10px 5px;
            &:first-child {
              width: 42%;
            }
          }
        }
        tbody {
          td {
            font-size: 10px;
            line-height: 14px;
            padding: 10px 0 10px 5px;
          }
        }
      }
    }
  }
  .cabinet__content {
    display: flex;
    flex-direction: column-reverse;
    .edit-company__btns {
      margin-bottom: 10px;
    }
  }
  .company {
    &-section {
      padding: 20px;
    }
    &-section__title {
      flex-direction: column;
      align-items: flex-start;
      span {
        margin-top: 15px;
        margin-left: 0;
      }
    }
    &-section__bottom {
      display: none;
    }
    &-info__row {
      flex-direction: column;
      .company-info__block {
        width: 100%;
        padding-right: 0;
      }
    }
    &-accordeon {
      .card-company__material-cards {
        padding: 0px;
      }
      .card-company__material-card {
        padding: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    // &-accordeon .card-company__table-body {
    //   padding: 0px 0px 20px 0px;
    // }

    &__btn-more {
      display: block;
    }
  }

  .reviews {
    &-item__top {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    &-status {
      margin-bottom: 25px;
    }
    &__no-reviews {
      padding: 40px 25px;
    }
    &__no-reviews-content {
      max-width: 290px;
    }
    &__no-reviews-title {
      font-size: 24px;
      line-height: 30px;
    }
    &__no-reviews-btn {
      max-width: 100%;
    }
  }
  .thanks__for-reviews {
    padding: 50px 25px;
    &-title {
      font-size: 24px;
      line-height: 29px;
      max-width: 250px;
    }
    &__wrapper {
      transition: all 0s ease-in-out;
      &.active {
        transition: all 0s ease-in-out;
      }
    }
  }
  .map {
    margin: 0;
    &-body {
      display: none;
    }
    &-address__item {
      flex-direction: column;
      align-items: flex-start;
    }
    &-address__item-num {
      margin-right: 0px;
      margin-bottom: 12px;
    }
    &-address__item-text {
      margin-bottom: 25px;
    }
    &-address__item-link {
      margin-left: 0;
    }
  }
  .edit-company {
    &__section {
      margin-left: -15px;
      margin-right: -15px;
    }
    &__form {
      .form-input-phone {
        min-width: 100%;
      }
      .card-company__logo {
        width: 80px;
        height: 80px;
        min-width: 80px;
        min-height: 80px;
      }
      .form-input__remark {
        margin-left: 0;
      }
    }
    &__btns {
    }
  }
  .registration__stage-list {
    overflow: inherit;
  }
  //======================= footer
  .footer {
    &-wrapper {
      padding: 0 28px;
      padding-top: 20px;
      padding-bottom: 35px;
      flex-direction: column;
      align-items: center;
    }
    &-nav {
      flex-direction: column;
      margin-bottom: 30px;
      li {
        margin-right: 0px;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-text {
      margin-bottom: 30px;
    }
  }
  //======================= footer enf
}

@media (max-width: 540px) {
  .param {
    &__buttons {
      .btn {
        width: 100%;
        max-width: 100%;
        &:first-child {
          margin-right: 0;
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .btn {
    padding: 16px 10px;
  }
  .custom-checkbox {
    font-size: 10px;
    line-height: 14px;
  }
  .accordeon-tab {
    font-size: 12px;
  }
  .main-tab .tab__item {
    font-size: 10px;
    padding: 10px 5px;
  }
  .card-company__material-price {
    font-size: 20px;
    line-height: 24px;
  }
  .company-accordeon .card-company__table-body {
    padding: 0px 0px 20px 0px;
  }
  .company-accordeon .accordeon-tab {
    padding: 20px 10px;
  }
  .company-section {
    padding: 15px;
  }
  .form-input__range {
    .form-input {
      padding: 17px 5px 17px 40px;
    }
    &-value {
      right: 8px;
    }
  }
  .working-day__item {
    flex-direction: column;
    align-items: flex-start !important;
    .col-2,
    .col-10 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .form-input__label {
    font-size: 12px;
  }
  .start-auction {
    padding: 25px;
    padding-bottom: 250px;
    background-position: center bottom;
  }
}

@media (max-width: 340px) {
  .regulations {
    &__item {
      padding: 30px 25px;
    }
  }
}
