@media (max-width: 959px) {
  //======================= ALL PAGE
  .aggregators-search {
    &__tabs {
      margin: 30px 0 20px 0;
    }
    &__retail {
      flex-direction: column;
      align-items: center;
    }
    &__switch {
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
    }
    &__number {
      width: 100%;
      margin-bottom: 20px;
    }
    &__btn {
      width: 100%;
    }
    &__dropdawn {
      margin: auto;
      .select {
        &__header {
          display: flex;
        }
        &__label {
          margin-right: 10px;
        }
      }
    }
    &__btn {
      max-width: 340px;
    }
  }
  .number-bystate__number {
    max-width: 340px;
  }
  //======================= ALL PAGE END
}
@media (max-width: 900px) {
  //====================== HEADER
  .header {
    &-burger {
      margin-right: 30px;
    }
  }
  //====================== HEADER END

  //====================== OFFERS
  .offer {
    &__top{
      max-width: 100%;
      flex-wrap: wrap;
    }
    &__wrapper{
      flex-direction: column;
    }
    &__tell{
      order: 1;
      margin: auto;
      margin-bottom: 20px;
    }
    .work-time{
      font-size: 10px;
        font-weight: 300;
      &:before{
        top: -2px;
      }
    }
  }
  //====================== OFFERS END
  //======================= ALL PAGE
  .material-oftype {
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    &__item {
      margin-right: 0;
      margin-bottom: 20px;
    }
    &__item-select {
      max-width: 100%;
      .select-dropdown {
        width: 100%;
      }
    }
    &__item-weight {
      width: 100%;
      max-width: 100%;
      .custom-input__wrapp {
        width: 100%;
        .custom-input {
          width: 100%;
          text-align: left;
          padding: 0 20px;
        }
      }
    }
    &__item-metal {
      justify-content: space-between;
      .custom-input__wrapp {
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
      .custom-input {
        width: 100%;
        max-width: 100%;
      }
    }
    &__item-btn {
      max-width: 100%;
      margin: 0 auto;
    }
  }
  //======================= ALL PAGE AND
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
  .container-fluid {
    padding: 0 20px;
  }
  .btn {
    min-width: 100%;
    max-width: 100%;
  }

  //====================== HEADER
  .header {
    &-wrapp {
      padding: 15px 0;
      border-bottom: 1px solid transparent;
    }
    &-burger {
      margin-right: 0px;
    }
    &-burger__text {
      display: none;
    }
    &-city {
      display: none;
    }
    &-logo__image {
      margin-right: 10px;
      img {
        max-height: 40px;
      }
    }
    &-logo__text {
      font-size: 14px;
    }
    &-phone__svg {
      display: none;
    }
    &-phone__svg--mob {
      display: block;
    }
    &-phone__list {
      margin: 0;
    }
    &-phone__link {
      display: none;
    }
    &-phone__text {
      display: none;
    }
  }
  //====================== HEADER END

  //====================== OFFERS
  .offer {
    &-items__btn-more{
      min-width: auto;
      max-width: 250px;
      font-size: 12px;
      padding: 4px 20px;
      margin: 0 auto;
      display: block;
    }
    &__tell{
      order: 1;
      margin: inherit;
      margin-bottom: 20px;
      width: 100%;
    }
  }
  //====================== OFFERS END
  //======================= ALL PAGE
  .aggregators-search__btn {
    max-width: 340px;
  }
  .number-bymodel {
    flex-direction: column;
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    &__item {
      margin-right: 0;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      .select-dropdown {
        min-width: 100%;
      }
      .custom-input {
        width: 100%;
        text-align: left;
        padding: 0 20px;
        &__wrapp {
          width: 100%;
        }
      }
    }
  }

  .regulations {
    padding: 60px 0 60px 0;
    &__title {
      margin-bottom: 40px;
    }
    &__items {
      flex-direction: column;
    }
    &__item {
      width: 100%;
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__item-img {
      margin-right: 20px;
      img {
        height: 75px;
      }
    }
    &__item-content {
      max-width: 100%;
    }
  }

  .auction-start {
    &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__img {
      margin-right: 20px;
      img {
        height: 60px;
      }
    }
    &__content {
      max-width: 100%;
    }
    &__title {
      margin-bottom: 30px;
    }
    &__text {
      font-size: 14px;
      margin-bottom: 20px;
    }
    &__btn {
      min-width: auto;
      width: 100%;
      max-width: 240px;
    }
  }

  //======================= ALL PAGE END
}
