@media (max-width: 959px) {
  .header {
    &-burger {
      margin-right: 15px;
    }
  }
  
}
@media (max-width: 900px) {

}

@media (max-width: 767px) {

  //====================== HEADER
  .header {
    &-wrapp {
      padding: 15px 0;
      border-bottom: 1px solid transparent;
    }
    &-burger {
      margin-right: 0px;
      &__lines {
        width: 30px;
      }
      &__bottom {
        width: 17px;
      }
    }
    &-burger__text {
      display: none;
    }
    &-city {
      display: none;
    }
    &-logo__image {
      margin-right: 10px;
      img {
        max-height: 40px;
      }
    }
    &-logo__text {
      font-size: 14px;
    }
    &-phone__svg {
      display: none;
    }
    &-phone__svg--mob {
      display: block;
    }
    &-phone__list {
      margin: 0;
    }
    &-phone__link {
      display: none;
    }
    &-phone__text {
      display: none;
    }
  }
  .navbar {
    &-body {
      max-width: 545px;
      padding: 13px 0 0 0;
    }
    &-head {
      padding-left: 28px;
      padding-right: 28px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header-phone__svg--mob svg {
        fill: #fff;
      }
      .header-logo {
        display: flex;
        min-width: 150px;
        position: relative;
        left: auto;
        top: auto;
        transform: translate(0%, 0%);
        &__text {
          color: #fff;
        }
      }
    }
    &-location {
      display: flex;
      .header-city__image {
        width: 14px;
        height: 16px;
        img {
          width: 13px;
          height: 14px;
        }
      }
    }
    &-menu {
      padding-left: 50px;
      margin-bottom: 50px;
    }
    &-select {
      margin-left: 28px;
      margin-right: 28px;
      border-bottom: 0px;
      max-width: 320px;
    }
    &-option {
      background: #fff;
      padding-top: 22px;
      padding-bottom: 45px;
      flex-direction: column;
      align-items: center;
      .header-phone__list {
        display: block;
      }
      .header-phone__link {
        color: $text;
        font-size: 16px;
        margin-bottom: 3px;
        display: block;
      }
      .header-phone__text {
        display: block;
        font-size: 7px;
        text-transform: uppercase;
      }
    }
    &-policy {
      text-align: center;
      color: $text;
      margin-bottom: 24px;
      max-width: 100%;
      &--mob {
        display: block;
      }
    }
    &-socials {
      margin-top: 25px;
      margin-bottom: 25px;
      .socials__icon {
        border: 1px solid $dark-btn;
        svg {
          stroke: #5f5d5d;
        }
      }
    }
  }
  //====================== HEADER END

  //======================= footer
  .footer {
    &-wrapper {
      padding: 0 28px;
      padding-top: 20px;
      padding-bottom: 35px;
      flex-direction: column;
      align-items: center;
    }
    &-nav {
      flex-direction: column;
      margin-bottom: 30px;
      li {
        margin-right: 0px;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-text {
      margin-bottom: 30px;
    }
  }
  //======================= footer enf
}

@media (max-width: 550px) {
  
}

@media (max-width: 340px) {
  
}
