// Move-from-top effect
.mfp-move-from-top {
  .mfp-content {
    vertical-align: top;
  }

  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.4s;

    transform: translateY(-100px);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.2s;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: translateY(0);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {
    .mfp-with-anim {
      transform: translateY(-50px);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}

.white-popup {
  position: relative;
  background: #f7f9fc;
  border-radius: 5px;
  width: 100%;
  margin: 20px auto;
}
.mfp-gallery .mfp-close {
  width: 25px;
  height: 25px;
  opacity: 1;
  line-height: 24px;
  top: 0 !important;
  right: 0 !important;
  color: #fff !important;
  text-align: center;
  padding: 0;
}
.mfp-close {
  width: 25px;
  height: 25px;
  opacity: 1;
  line-height: 24px;
}
.mfp-close-btn-in .mfp-close {
  font-family: $base-font;
  font-weight: 300;
  color: $primary;
  font-size: 40px;
  right: 20px;
  top: 20px;
}
.mfp-fade.mfp-bg {
  height: 200% !important;
  opacity: 0;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.4s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
.mfp-container {
  padding: 0;
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
}

.popup-cities {
  max-width: 600px;
}

.select-city {
  &__wrapper {
  }
  &__input {
    margin-bottom: 30px;
    input {
      background: #ffffff;
      border: none;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 25px 40px;
      padding-right: 50px;
      width: 100%;
      transition: all 0.3s;
    }
  }
  &__list {
    // padding-left: 40px;
    text-align: left;
  }
  &__item {
    display: block;
    color: #000;
    padding-left: 50px;
    margin-bottom: 0;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      font-weight: 600;
    }
  }
  &__current {
    font-weight: 600;
  }
}
.select-region__item {
  padding-left: 40px;
  margin-top: 15px;
  &:first-child {
    margin-top: 0;
  }
}
#adress-cities-list .select-region__item {
  padding-left: 25px;
}

.popup-cities {
  &__body {
    padding: 30px;
    padding-top: 50px;
  }
}

.offer-popup {
  &__body {
    background-color: #fff;
    padding: 40px;
  }
  .card-company__table-body {
    padding: 0;
    tr {
      border-radius: 3px;
      overflow: hidden;
      th:last-child,
      td:last-child {
        padding-right: 20px;
        text-align: right;
      }
    }
  }
  &_retail {
    max-width: 470px;
    margin: auto;
    position: relative;
    .card-company__table-body {
      tr {
        th:last-child,
        td:last-child {
          text-align: right;
        }
      }
      table tbody td:first-child {
        font-weight: 600;
        font-size: 11px;
        line-height: 130%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
      }
    }
  }
  &_opt {
    max-width: 730px;
    margin: auto;
    position: relative;
  }
}

.param-popup {
  &__body {
    background-color: #fff;
    padding: 40px 0;
  }
}

.notice-popup {
  position: fixed;
  left: 100px;
  bottom: 100px;
  opacity: 0.95;
  visibility: visible;
  z-index: 800;
  display: flex;
  align-items: center;
  padding: 25px;
  background: #131e29;
  border-radius: 3px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  transition: all 0.3s ease-in;
  &__close {
    position: relative;
    width: 14px;
    height: 14px;
    margin-left: 80px;
    transform: rotate(45deg);
    cursor: pointer;
    &:after,
    &:before {
      content: '';
      display: block;
      background: #fff;
      position: absolute;
    }
    &:after {
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      height: 2px;
    }
    &:before {
      width: 2px;
      height: 100%;
      top: 0;
      transform: translateX(-50%);
      left: 50%;
    }
  }
  &.hidden {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease-in;
  }
}

.delete-branch-popup {
}
.popup-custom {
  position: relative;
  padding: 40px;
  background: #ffffff;
  border-radius: 3px;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  .mfp-close {
    color: #959da4;
  }
}
.popup-body {
}
.popup-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
  text-align: center;
}
.popup-text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $text-gray-2;
}
.popup-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 210px;
  margin: 0 auto;
  margin-top: 25px;
  .btn {
    padding: 16px 0;
    width: 100%;
    max-width: 100px;
    margin-left: 6px;
    &:last-child {
      margin-left: 0;
    }
  }
}

@media (max-width: 767px) {
  .notice-popup {
    left: 20px;
  }
  .popup-cities__body {
    padding: 15px;
    padding-top: 50px;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
  .mfp-inline-holder .mfp-content,
  .mfp-ajax-holder .mfp-content {
    height: 100%;
  }
  .offer-popup {
    // height: 100%;
    &__body {
      // height: 100%;
      padding: 40px 20px;
    }
  }
}
