//=================== fonts
$base-font: 'montserrat', sans-serif;

//===================  colors-text
$text: #34495e;
$text-gray: #e5e5e5;
$text-gray-light: #81909f;

//===================  colors
$white: #ffffff;
$primary: #51c569;
$dark: #000000;
$danger: #ff4b55;
$secondery: #cd3f36;

//===================  colors-elements
$bg-block: #f7f9fc;
$bg-green: #51c569;
$bg-red: #ff4b55;
$border: #e5e5e5;
$icon: #81909f;

//===================  colors btn
$primary-btn: #51c569;
$danger-btn: #cd3f36;
$secondery-btn: #81909f;
$fail-btn: #ff4b55;

$dark-btn: #34495e;
$dark-btn-hover: #81909f;
