/*************** SCROLLBAR BASE CSS ***************/
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}

.scroll-wrapper > .scroll-content {
  border: none !important;
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scroll-element {
  display: none;
}

.scroll-element, .scroll-element div {
  box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: pointer;
}

.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999;
}

.scroll-textarea > .scroll-content {
  overflow: hidden !important;
}

.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important;
}

.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0;
}

/*************** SIMPLE SCROLLBAR ***************/
.scroll-wrapper > .scroll-element,
.scroll-wrapper > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scroll-wrapper > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 4px;
}

.scroll-wrapper > .scroll-element.scroll-x {
  bottom: 2px;
  height: 8px;
  left: 0;
  width: 100%;
}

.scroll-wrapper > .scroll-element.scroll-y {
  height: 100%;
  left: 2px;
  top: 0;
  width: 4px;
}

.scroll-wrapper > .scroll-element .scroll-element_outer {
  overflow: hidden;
}

.scroll-wrapper > .scroll-element .scroll-element_outer,
.scroll-wrapper > .scroll-element .scroll-element_track,
.scroll-wrapper > .scroll-element .scroll-bar {
  border-radius: 8px;
}

.scroll-wrapper > .scroll-element .scroll-element_track {
  background-color: #e0e0e0;
}

.scroll-wrapper > .scroll-element .scroll-bar {
  background-color: #00efdf;
  width: 3px;
}

.scroll-wrapper > .scroll-element:hover .scroll-bar {
  background-color: #919191;
}

.scroll-wrapper > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191;
}

/* update scrollbar offset if both scrolls are visible */
.scroll-wrapper > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -12px;
}

.scroll-wrapper > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -12px;
}

.scroll-wrapper > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -12px;
}

.scroll-wrapper > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -12px;
}

/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/montserrat-v15-latin_cyrillic-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img[src=''],
img:not([src]) {
  opacity: 0;
}

/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  -webkit-transition-delay: 9999s;
}

/* stylelint-disable */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus, a:hover, a:active, a:visited {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input,
textarea {
  border-radius: 0;
}

input::-ms-clear {
  width: 0;
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  font-family: "montserrat", sans-serif;
  color: #34495e;
}

.fz-16 {
  font-size: 16px;
}

.fz-12 {
  font-size: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
  font-style: normal;
}

body {
  position: relative;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #34495e;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.overflow-h {
  overflow: hidden !important;
}

.text-link {
  font-weight: 500;
  font-size: 14px;
  color: #51c569;
  text-decoration: underline;
}

.h-100p {
  height: 100%;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.text-muted {
  color: #81909f;
}

.bg-green {
  background-color: #51c569;
}

.bg-red {
  background-color: #ff4b55;
}

.link {
  color: #32AD13;
}

.link:hover {
  text-decoration: underline;
}

.link-location {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  padding-left: 20px;
  position: relative;
}

.link-location:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 14px;
  background: url(../img/icons/icon-location-2.svg) center center no-repeat;
  background-size: contain;
}

.line-gray {
  width: 100%;
  display: block;
  border: 1px solid rgba(229, 229, 229, 0.7);
}

.section {
  padding: 50px 0;
}

.primary-title {
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
  color: #34495e;
  text-align: center;
}

.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  width: 100%;
  max-width: 100%;
  padding: 16px 30px;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.btn:hover {
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:focus {
  outline: none;
}

.btn_phone {
  font-size: 14px;
  font-weight: 600;
  background: #34495e;
}

.btn_phone:hover {
  background: #27394b;
}

.btn_phone:active {
  background: #131e29;
}

.btn_phone::before {
  content: '';
  display: inline-block;
  margin-right: 12px;
  width: 12px;
  height: 12px;
  background-image: url("../img/icons/icon_phone.svg");
}

.btn_yellow {
  color: #34495e;
  background: #f8d157;
}

.btn_yellow:hover {
  color: #fff;
  background: #ecc033;
}

.btn_yellow:active {
  color: #fff;
  background: #e2b011;
}

.btn_green {
  background: #32ad13;
}

.btn_green:hover {
  background: #299f0c;
}

.btn_green:active {
  background: #27910d;
}

.btn_blue {
  background: #3485f1;
}

.btn_blue:hover {
  background: #2175e7;
}

.btn_blue:active {
  background: #1264d2;
}

.btn_gray {
  border: 1px solid #34495e;
  color: #34495e;
}

.btn_gray:hover {
  background: #34495e;
  color: #fff;
}

.btn_gray:active {
  background: #34495e;
  color: #fff;
}

.btn_black {
  background: #131e29;
}

.btn_black:hover {
  background: #0d151d;
}

.btn_black:active {
  background: #010203;
}

.btn_red {
  color: #e31823;
  background: transparent;
  border: 1px solid #e31823;
}

.btn_red:hover {
  color: #fff;
  background: #e31823;
}

.btn_red:active {
  color: #fff;
  background: #ca040f;
}

.btn_add-param {
  color: #34495e;
  background: #e9eef2;
}

.btn_add-param:hover {
  background: #dde5ed;
}

.btn_add-param:active {
  background: #c5d5e4;
}

.btn_reset-param {
  color: #34495e;
  background: transparent;
  border: 1px solid #e9eef2;
}

.btn_reset-param:hover {
  background: #e9eef2;
}

.btn_reset-param:active {
  background: #dde5ed;
}

.btn-come__back {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding-left: 25px;
  margin-bottom: 25px;
  cursor: pointer;
  outline: none;
  position: relative;
}

.btn-come__back::after {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 15px;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  background: #34495e;
}

.btn-come__back::before {
  content: '';
  display: block;
  position: absolute;
  height: 7px;
  width: 7px;
  left: 2px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border-bottom: 1px solid #34495e;
  border-left: 1px solid #34495e;
}

.socials__icon {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  transition: all 0.3s ease;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__icon svg {
  width: 15px;
  height: 15px;
  fill: #ffffff;
  transition: all 0.3s ease;
}

.tab__wrapper {
  display: flex;
  border-bottom: 1px solid #e9eef2;
  margin-bottom: 25px;
}

.tab__item {
  margin-right: 40px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #34495e;
  padding-bottom: 25px;
  position: relative;
  cursor: pointer;
}

.tab__item::after {
  content: '';
  display: inline-block;
  height: 3px;
  width: 0%;
  background: #32ad13;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.6s;
}

.tab__item:hover::after {
  opacity: 1;
  width: 100%;
}

.tab__item.active::after {
  opacity: 1;
  width: 100%;
}

.tab__content {
  display: none;
}

.tab__content.active {
  display: block;
}

.form-input {
  border: 1px solid #e9eef2;
  outline: none;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 18px 12px;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  transition: all 0.3s ease;
}

.form-input:focus + .form-input__line,
.form-input:active + .form-input__line {
  background: #32ad13;
  opacity: 1;
  width: 100%;
  transition: all 0.3s ease;
}

.form-input__line {
  position: absolute;
  opacity: 0;
  bottom: 1px;
  height: 2px;
  width: 0;
  transition: all 0.3s ease;
}

.form-input__label {
  font-size: 14px;
  font-weight: 600;
}

.form-input__wrapp {
  max-width: 510px;
  position: relative;
}

.form-input__wrapp.done:after {
  content: '';
  position: absolute;
  display: inline-block;
  right: 20px;
  bottom: 24px;
  width: 8px;
  height: 13px;
  border: solid #2faa33;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form-input__wrapp.error {
  margin-bottom: 20px;
  position: relative;
}

.form-input__wrapp.error .form-input {
  background-color: #e4dadb;
}

.form-input__wrapp.error .form-input__error {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #e31823;
  right: 0;
  bottom: -20px;
  display: inline-block;
}

.form-input__wrapp.error .form-input__line {
  background: #e31823;
  transition: all 0.3s ease;
}

.form-input__wrapp.error:before {
  content: '';
  top: 28px;
  right: 20px;
  transform: rotate(45deg);
  position: absolute;
  height: 2px;
  width: 10px;
  background: #e31823;
  transition: 0.25s ease-in-out;
}

.form-input__wrapp.error:after {
  content: '';
  top: 28px;
  right: 20px;
  transform: rotate(-45deg);
  position: absolute;
  height: 2px;
  width: 10px;
  background: #e31823;
  transition: 0.25s ease-in-out;
}

.form-input__error {
  display: none;
  position: absolute;
}

.form-input-phone {
  max-width: 200px;
}

.network-error {
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  padding: 20px 135px 20px 20px;
  margin-bottom: 25px;
  color: #e31823;
  background: url(../img/network-error.svg) center right no-repeat;
  background-position-x: 98%;
  background-color: RGBA(227, 24, 35, 0.05);
}

.custom-select.selectize-control {
  font-size: 0;
}

.custom-select.selectize-control .selectize-input {
  border: 1px solid #e9eef2;
  box-shadow: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 18px 12px;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  transition: all 0.3s ease;
}

.custom-select.selectize-control .selectize-input:after {
  content: '';
  margin: auto;
  position: absolute;
  right: 25px;
  top: 18px;
  border: solid #32ad13;
  border-width: 0 2px 2px 0;
  display: inline-block;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
}

.custom-select.selectize-control .selectize-input.dropdown-active:after {
  content: '';
  margin: auto;
  position: absolute;
  right: 25px;
  top: 22px;
  border: solid #32ad13;
  border-width: 0 2px 2px 0;
  display: inline-block;
  width: 12px;
  height: 12px;
  transform: rotate(-135deg);
}

.custom-select.selectize-control .selectize-input::before {
  content: '';
  display: inline-block;
  height: 3px;
  width: 0%;
  background: #32ad13;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.6s;
}

.custom-select.selectize-control .selectize-input.full {
  position: relative;
}

.custom-select.selectize-control .selectize-input.full::before {
  width: 100%;
  opacity: 1;
}

.custom-select.selectize-control .selectize-dropdown-content {
  border: 1px solid #e9eef2;
}

.custom-select.selectize-control .selectize-dropdown-content .option {
  padding: 12px;
}

.search-input {
  display: flex;
}

.search-input__item {
  flex: 0 0 25%;
  max-width: 25%;
  border: 1px solid #e9eef2;
}

.search-input__item .custom-select.selectize-control .selectize-input {
  padding-top: 12px;
  border: none;
}

.search-input__item .custom-select.selectize-control .selectize-input::after {
  top: 10px;
}

.search-input__item .custom-select.selectize-control .selectize-input.dropdown-active:after {
  top: 18px;
}

.search-input__label {
  padding: 12px;
  padding-bottom: 0;
  font-size: 12px;
  color: #959da4;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox input:checked + .custom-checkbox__point {
  background-color: #32AD13;
}

.custom-checkbox input:checked + .custom-checkbox__point::before {
  opacity: 1;
}

.custom-checkbox__point {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #32AD13;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
}

.custom-checkbox__point::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 5px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: all 0.2s;
}

.star-rating > fieldset {
  border: none;
  display: inline-block;
}

.star-rating > fieldset:not(:checked) > input {
  position: absolute;
  display: none;
}

.star-rating > fieldset:not(:checked) > label {
  float: right;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
  margin-right: 10px;
}

.star-rating > fieldset:not(:checked) > label:before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("../img/icons/rating-off.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.star-rating > fieldset:not(:checked) > label:hover:before,
.star-rating > fieldset:not(:checked) > label:hover ~ label:before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("../img/icons/rating-on.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.star-rating > fieldset > input:checked ~ label:before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("../img/icons/rating-on.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.star-rating > fieldset > label:active {
  position: relative;
  opacity: 0.8;
}

.stars-rating__number {
  margin-right: 10px;
}

.stars-rating__wrapper {
  padding: 0;
  margin: 0;
}

.stars-rating__item {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.stars-rating_on {
  background-image: url("../img/icons/rating-on.svg");
}

.stars-rating_off {
  background-image: url("../img/icons/rating-off.svg");
}

.scrollbar,
.selectize-dropdown-content {
  max-height: 300px !important;
  height: auto;
  overflow: hidden;
  overflow-y: auto;
}

.scrollbar > .scroll-element.scroll-y,
.selectize-dropdown-content > .scroll-element.scroll-y {
  left: inherit;
  right: 0;
  z-index: 100;
}

.scrollbar > .scroll-element .scroll-element_track,
.selectize-dropdown-content > .scroll-element .scroll-element_track {
  background: #fff;
}

.scrollbar > .scroll-element .scroll-bar,
.selectize-dropdown-content > .scroll-element .scroll-bar {
  background-color: #51c569;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  padding: 0 3px;
}

.breadcrumbs__item:first-child {
  padding-left: 0;
}

.breadcrumbs__item:not(:last-child):after {
  display: block;
  content: '/';
  color: #34495e;
  transform: translateX(3px);
}

.breadcrumbs__link {
  color: #34495e;
  white-space: nowrap;
  transition: color 0.3s;
}

.breadcrumbs__link:hover {
  color: #34495e;
  transition: color 0.3s;
}

.breadcrumbs__link--disabled {
  color: #959da4;
  text-decoration: none !important;
}

.breadcrumbs__link--disabled:hover {
  color: #959da4;
}

.white-popup {
  position: relative;
  background: #f7f9fc;
  border-radius: 5px;
  width: 100%;
  margin: 20px auto;
}

.mfp-gallery .mfp-close {
  width: 25px;
  height: 25px;
  opacity: 1;
  line-height: 24px;
  top: 0 !important;
  right: 0 !important;
  color: #fff !important;
  text-align: center;
  padding: 0;
}

.mfp-close {
  width: 25px;
  height: 25px;
  opacity: 1;
  line-height: 24px;
}

.mfp-close-btn-in .mfp-close {
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  color: #51c569;
  font-size: 30px;
  right: 20px;
  top: 20px;
}

.mfp-fade.mfp-bg {
  height: 200% !important;
  opacity: 0;
  transition: all 0.15s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.4s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.header {
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid #ededed;
}

.header-wrapp {
  position: relative;
  padding: 24px 0 27px 0;
  display: flex;
  justify-content: space-between;
}

.header-burger {
  display: flex;
  align-items: center;
  margin-right: 75px;
  cursor: pointer;
}

.header-burger__lines {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 12px;
  width: 25px;
}

.header-burger__bottom, .header-burger__top {
  content: '';
  position: absolute;
  left: 0;
  background: #34495e;
}

.header-burger__top {
  width: 100%;
  height: 2px;
  top: 0;
}

.header-burger__bottom {
  width: 14px;
  height: 2px;
  bottom: 0;
}

.header-burger__text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin-left: 25px;
}

.header-city {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: auto;
  width: max-content;
}

.header-city__image {
  display: flex;
  align-items: center;
}

.header-city__image img {
  width: 11px;
}

.header-select__link {
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
  text-decoration: underline;
  line-height: 16px;
}

.header-logo {
  min-width: 160px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-logo__image {
  margin-right: 20px;
}

.header-logo__image img {
  max-height: 50px;
}

.header-logo__text {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-left: 0;
  margin-top: 3px;
}

.header-logo__text_normal {
  font-weight: 400;
  text-transform: none;
}

.header-phone {
  display: flex;
  align-items: flex-start;
  padding-top: 6px;
}

.header-phone__list {
  margin-left: 30px;
}

.header-phone__svg--mob {
  display: none;
}

.header-phone__svg--mob svg {
  height: 24px;
  width: 23px;
  fill: #51c569;
}

.header-phone__svg--mob:hover {
  fill: #51c569;
}

.header-phone__link {
  display: inline-block;
  font-size: 21px;
  font-weight: 700;
  line-height: 18px;
}

.header-phone__text {
  display: block;
  text-transform: uppercase;
  font-size: 9px;
  line-height: 16px;
}

.navbar-header {
  position: fixed;
  top: 0;
  left: -200%;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  display: flex;
  z-index: 1000;
}

.navbar-header.active {
  opacity: 1;
  visibility: visible;
  left: 0;
  transition: all 0.3s ease;
}

.navbar-header.active .navbar-bg {
  display: block;
}

.navbar-bg {
  display: none;
  position: fixed;
  z-index: 900;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.navbar-body {
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 505px;
  background: #51c569;
  padding: 40px 50px 40px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.navbar-head {
  display: flex;
  margin-bottom: 80px;
}

.navbar-head .header-logo {
  display: none;
}

.navbar-head .header-burger__bottom,
.navbar-head .header-burger__top {
  background: #ffffff;
}

.navbar-head .header-burger__text {
  color: #ffffff;
}

.navbar-location {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  display: none;
}

.navbar-location .header-city {
  margin: 0;
  display: flex;
}

.navbar-location .header-city__text {
  color: #ffffff;
}

.navbar-menu {
  margin-bottom: 50px;
}

.navbar-menu__item {
  width: 100%;
}

.navbar-menu__item:first-child .navbar-menu__link {
  padding-top: 0;
}

.navbar-menu__item:last-child .navbar-menu__link {
  padding-bottom: 0;
}

.navbar-menu__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  padding: 20px 15px 20px 0px;
  transition: all 0.3s ease;
}

.navbar-menu__link:hover {
  transition: all 0.3s ease;
  color: #34495e;
}

.navbar-select {
  padding-bottom: 30px;
  border-bottom: 1px solid #3daf54;
  margin-bottom: 20px;
}

.navbar-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-option .header-phone__list {
  display: none;
}

.navbar-policy {
  width: 100%;
  margin-right: 5px;
  font-weight: 400;
  font-size: 14px;
  text-decoration-line: underline;
  color: #ffffff;
}

.navbar-policy--mob {
  display: none;
}

.navbar-socials {
  display: flex;
  align-items: center;
}

.navbar-socials .socials__icon {
  margin-right: 16px;
}

.navbar-socials .socials__icon svg {
  stroke: #f7f7f7;
}

.navbar-socials .socials__icon:hover {
  border: 1px solid #34495e;
  background: #34495e;
}

.navbar-socials .socials__icon:last-child {
  margin-right: 0;
}

.sidebar {
  max-width: 270px;
  background: #fff;
  position: relative;
  z-index: 5;
}

.main-tab {
  opacity: 1;
  visibility: visible;
  left: 0;
  top: 0;
  z-index: 4;
  transition: all 0.5s, opacity 1.5s;
  overflow: hidden;
}

.main-tab .tab__item-icon {
  display: none;
  fill: #34495e;
  margin-bottom: 5px;
  max-height: 18px;
  max-width: 22px;
}

.main-tab.hidden {
  position: relative;
  left: -1000px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all 0.5s, opacity 0.2s;
}

.thanks__for-reviews {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 180px 0;
  background: linear-gradient(102.13deg, #f7f9fc 0.51%, #faf6ec 100%);
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.thanks__for-reviews:after {
  content: '';
  display: block;
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 350px;
  height: 230px;
  background: url(../img/icons/star-bg.svg) center center no-repeat;
  background-size: contain;
}

.thanks__for-reviews-icon {
  margin-bottom: 25px;
}

.thanks__for-reviews-title {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  width: 100%;
  max-width: 310px;
  text-align: center;
}

.thanks__for-reviews-text {
  width: 100%;
  max-width: 400px;
  color: #959da4;
  text-align: center;
}

.thanks__for-reviews__wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 1000px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.thanks__for-reviews__wrapper.active {
  opacity: 1;
  visibility: visible;
  left: 0;
  transition: all 0.2s ease-in-out;
}

.card-company {
  position: relative;
  z-index: 5;
  background: #fff;
  overflow: hidden;
}

.card-company__logo-wrapp {
  position: relative;
  margin-bottom: 20px;
}

.card-company__content {
  position: relative;
}

.card-company__logo {
  position: relative;
  z-index: 5;
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #043598;
}

.card-company__logo img {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.card-company__logo .img-plug {
  padding: 15px;
}

.card-company__logo._premium:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  display: block;
  border-radius: 50%;
  background: url(../img/icons/crown.svg) center center no-repeat;
  background-color: #f8d157;
}

.card-company__logo-label-wrapp {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
}

.card-company__logo-label {
  border-radius: 3px;
  font-weight: 600;
  font-size: 11px;
  padding: 5px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-left: 6px;
}

.card-company__logo-label._blue {
  background: #3485f1;
}

.card-company__logo-label._black {
  background: #34495e;
}

.card-company__title-wrapp {
  margin-bottom: 30px;
}

.card-company__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #34495e;
  margin-bottom: 10px;
}

.card-company__rating-block {
  display: flex;
  justify-content: space-between;
}

.card-company__review-num {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #32ad13;
}

.card-company__buttons {
  margin-bottom: 25px;
}

.card-company__buttons .btn {
  margin-bottom: 6px;
}

.card-company__buttons .btn:last-child {
  margin-bottom: 0;
}

.card-company__block {
  margin-bottom: 25px;
}

.card-company__block:last-child {
  margin-bottom: 0;
}

.card-company__block-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.card-company__block-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #959da4;
}

.card-company__street {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.card-company__street span {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-top: 8px;
}

.card-company__street-link {
  margin-top: 12px;
}

.card-company__block-schedule-label {
  color: #959da4;
  padding-left: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  position: relative;
}

.card-company__block-schedule-label:before {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  top: 0;
  width: 8px;
  height: 13px;
}

.card-company__block-schedule-label._open:before {
  border: solid #2faa33;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.card-company__block-schedule-label._close:before {
  top: 9px;
  height: 2px;
  width: 13px;
  background: #e31823;
  transform: rotate(45deg);
}

.card-company__block-schedule-label._close:after {
  content: '';
  top: 9px;
  left: 8px;
  transform: rotate(-45deg);
  position: absolute;
  height: 2px;
  width: 13px;
  background: #e31823;
}

.card-company__block-schedule ul li {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #959da4;
  margin-bottom: 8px;
}

.card-company__block-schedule ul li:last-child {
  margin-bottom: 0;
}

.card-company__block-schedule ul li span {
  color: #34495e;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-left: 12px;
}

.card-company__section {
  margin-bottom: 50px;
}

.card-company__section:last-child {
  margin-bottom: 0;
}

.card-company__section-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 25px;
}

.card-company__section-title._mob {
  display: none;
}

.card-company__accordeon-title-mob {
  display: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 6px;
}

.card-company__table {
  border-radius: 3px;
  margin-bottom: 12px;
}

.card-company__table-title {
  background: #f7f9fc;
  padding: 40px 40px 25px 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.card-company__table-body {
  background: #f7f9fc;
  padding: 0px 40px 40px 40px;
}

.card-company__table-body table {
  width: 100%;
}

.card-company__table-body table thead th {
  font-weight: 600;
  font-size: 11px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #959da4;
  text-align: left;
  padding: 20px 0 20px 20px;
}

.card-company__table-body table thead th:first-child {
  width: 35%;
}

.card-company__table-body table tbody tr:nth-child(odd) {
  background: #fff;
}

.card-company__table-body table tbody tr:nth-child(odd) td:first-child {
  border-radius: 3px 0 0 3px;
}

.card-company__table-body table tbody tr:nth-child(odd) td:last-child {
  border-radius: 0 3px 3px 0;
}

.card-company__table-body table tbody td {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #34495e;
  padding: 20px 0 20px 20px;
}

.card-company__table-body table tbody td:first-child {
  color: #959da4;
}

.card-company__material-cards {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 12px);
  margin: 0 -6px -12px -6px;
}

.card-company__material-card {
  width: calc(50% - 12px);
  margin: 0 6px 12px 6px;
  padding: 40px;
  background: url(../img/icons/ruble.svg) right bottom no-repeat;
  background-position-x: 90%;
  background-color: #f7f9fc;
  border-radius: 3px;
}

.card-company__material-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
}

.card-company__material-title._mob {
  display: none;
}

.card-company__accordeon-mob .accordeon-content-js {
  display: flex;
}

.card-company__accordeon-mob .accordeon-tab-js {
  pointer-events: none;
}

.card-company__material-sub-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #959da4;
  margin-bottom: 40px;
}

.card-company__material-price {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.card-company__services-list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 12px);
  margin: 0 -6px -12px -6px;
}

.card-company__services-item {
  width: calc(50% - 12px);
  margin: 0 6px 12px 6px;
  display: flex;
  align-items: center;
}

.card-company__services-icon {
  background: #f7f9fc;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  display: block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.card-company__services-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.card-company__gallery-list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 2px);
  margin: 0 -1px -2px -1px;
}

.card-company__gallery-item {
  width: calc(25% - 2px);
  margin: 0 1px 2px 1px;
  padding-top: 25%;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.card-company__gallery-item a {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-company__gallery-item a:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: inherit;
  transition: all 0.3s ease;
}

.card-company__gallery-item a:before {
  content: '';
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 12px;
  z-index: 11;
  background: inherit;
  transition: all 0.3s ease;
}

.card-company__gallery-item a:hover:after {
  transition: all 0.3s ease;
  background: linear-gradient(0deg, rgba(50, 173, 19, 0.9), rgba(50, 173, 19, 0.9));
}

.card-company__gallery-item a:hover:before {
  transition: all 0.3s ease;
  background: url(../img/icons/gallary-arrow.svg) right bottom no-repeat;
}

.card-company__gallery-item img {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.reviews-item {
  margin-bottom: 15px;
  border-radius: 3px;
  overflow: hidden;
  padding: 25px;
  border: 1px solid #e9eef2;
}

.reviews-item._moderation {
  background: #f7f9fc;
  border: none;
}

.reviews-item._moderation .reviews-status {
  padding-left: 30px;
}

.reviews-item._moderation .reviews-status:after {
  display: block;
}

.reviews-item__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.reviews-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.reviews-status {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #959da4;
}

.reviews-status:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  width: 18px;
  height: 18px;
  background: url(../img/icons/clock.svg) center center no-repeat;
  background-size: contain;
  display: none;
}

.reviews-item__info-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
  margin-right: auto;
  margin-bottom: 23px;
}

.reviews-item__title {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 10px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #959da4;
}

.reviews-item__tell {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.reviews__btn-more {
  max-width: 180px;
  padding: 16px 0;
}

.reviews__no-reviews {
  background: #f7f9fc;
  border-radius: 3px;
  padding: 100px 30px;
}

.reviews__no-reviews-content {
  width: 100%;
  max-width: 310px;
  margin: 0 auto;
}

.reviews__no-reviews-title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 12px;
}

.reviews__no-reviews-sub-title {
  text-align: center;
  margin-bottom: 25px;
  color: #959da4;
}

.reviews__no-reviews-btn {
  display: block;
  max-width: 280px;
  margin: 0 auto;
}

.new-reviews {
  padding: 40px;
  background: #f7f9fc;
  border-radius: 3px;
}

.new-reviews__wrapper {
  position: absolute;
  top: 0;
  left: 1000px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.new-reviews__wrapper.active {
  opacity: 1;
  visibility: visible;
  left: 0;
  transition: all 0.2s ease-in-out;
}

.new-reviews .form-group {
  margin-bottom: 12px;
}

.new-reviews .btn {
  margin-bottom: 12px;
}

.map-body {
  height: 380px;
  background: url(../img/map.jpg) center center no-repeat;
}

.map-address__item {
  padding: 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.map-address__item:nth-child(odd) {
  background: #f7f9fc;
}

.map-address__item-num {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  display: block;
  border-radius: 50%;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #32AD13;
}

.map-address__item-text {
  margin-right: 20px;
}

.map-address__item-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
}

.map-address__item-sub-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.map-address__item-link {
  margin-left: auto;
}

.footer {
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e5e5e5;
}

.footer-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 12px;
  line-height: 25px;
  font-weight: 500;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer-nav {
  display: flex;
  align-items: center;
}

.footer-nav li {
  margin-right: 15px;
}

.footer-nav li:last-child {
  margin-right: 0;
}

.footer-nav__link {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
}

.footer-nav__link:hover {
  text-decoration: underline;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-licence, .footer-policy {
  text-decoration: underline;
}

.footer-phone__list {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.footer-phone__link {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 21px;
  line-height: 16px;
  color: #34495e;
}

.footer-phone__text {
  font-weight: 400;
  font-size: 9px;
  line-height: 16px;
  color: #34495e;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .header-burger {
    margin-right: 15px;
  }
  .main-tab .tab__item {
    margin-right: 20px;
  }
  .card-company__material-card {
    width: calc(100% - 12px);
  }
  .card-company__services-item {
    width: calc(100% - 12px);
  }
  .card-company__gallery-item {
    width: calc(50% - 2px);
    padding-top: 50%;
  }
  .form-input__label {
    display: block;
    margin-bottom: 6px;
  }
}

@media (max-width: 767px) {
  .header-wrapp {
    padding: 15px 0;
    border-bottom: 1px solid transparent;
  }
  .header-burger {
    margin-right: 0px;
  }
  .header-burger__lines {
    width: 30px;
  }
  .header-burger__bottom {
    width: 17px;
  }
  .header-burger__text {
    display: none;
  }
  .header-city {
    display: none;
  }
  .header-logo__image {
    margin-right: 10px;
  }
  .header-logo__image img {
    max-height: 40px;
  }
  .header-logo__text {
    font-size: 14px;
  }
  .header-phone__svg {
    display: none;
  }
  .header-phone__svg--mob {
    display: block;
  }
  .header-phone__list {
    margin: 0;
  }
  .header-phone__link {
    display: none;
  }
  .header-phone__text {
    display: none;
  }
  .navbar-body {
    max-width: 545px;
    padding: 13px 0 0 0;
  }
  .navbar-head {
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-head .header-phone__svg--mob svg {
    fill: #fff;
  }
  .navbar-head .header-logo {
    display: flex;
    min-width: 150px;
    position: relative;
    left: auto;
    top: auto;
    transform: translate(0%, 0%);
  }
  .navbar-head .header-logo__text {
    color: #fff;
  }
  .navbar-location {
    display: flex;
  }
  .navbar-location .header-city__image {
    width: 14px;
    height: 16px;
  }
  .navbar-location .header-city__image img {
    width: 13px;
    height: 14px;
  }
  .navbar-menu {
    padding-left: 50px;
    margin-bottom: 50px;
  }
  .navbar-select {
    margin-left: 28px;
    margin-right: 28px;
    border-bottom: 0px;
    max-width: 320px;
  }
  .navbar-option {
    background: #fff;
    padding-top: 22px;
    padding-bottom: 45px;
    flex-direction: column;
    align-items: center;
  }
  .navbar-option .header-phone__list {
    display: block;
  }
  .navbar-option .header-phone__link {
    color: #34495e;
    font-size: 16px;
    margin-bottom: 3px;
    display: block;
  }
  .navbar-option .header-phone__text {
    display: block;
    font-size: 7px;
    text-transform: uppercase;
  }
  .navbar-policy {
    text-align: center;
    color: #34495e;
    margin-bottom: 24px;
    max-width: 100%;
  }
  .navbar-policy--mob {
    display: block;
  }
  .navbar-socials {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .navbar-socials .socials__icon {
    border: 1px solid #34495e;
  }
  .navbar-socials .socials__icon svg {
    stroke: #5f5d5d;
  }
  .main-tab .tab__wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    margin-bottom: 0;
    width: 100%;
    z-index: 900;
    border-top: 1px solid #e9eef2;
  }
  .main-tab .tab__item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  .main-tab .tab__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #34495e;
    text-align: center;
    width: 33.33%;
    padding: 0;
    margin: 0;
    padding: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-tab .tab__item.active {
    background: #32ad13;
    color: #fff;
  }
  .main-tab .tab__item.active .tab__item-icon {
    transition: all 0.3s ease;
    fill: #fff;
  }
  .main-tab .tab__item span {
    display: none;
  }
  .main-tab .tab__item:after {
    display: none;
  }
  .custom-checkbox {
    font-size: 12px;
    line-height: 16px;
  }
  .network-error {
    padding: 20px;
  }
  .new-reviews {
    padding: 0;
    background: transparent;
  }
  .sidebar {
    margin-bottom: 50px;
    max-width: 100%;
  }
  .card-company__sidebar-head {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  .card-company__logo-wrapp {
    margin-right: 15px;
    padding-top: 50px;
    margin-bottom: 0;
  }
  .card-company__logo {
    width: 55px;
    height: 55px;
    min-width: 55px;
    min-height: 55px;
  }
  .card-company__logo._premium:after {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
  }
  .card-company__logo-label-wrapp {
    right: auto;
    left: 0;
  }
  .card-company__title-wrapp {
    margin-bottom: 0px;
    padding-top: 50px;
  }
  .card-company__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .card-company__section-title._mob {
    display: block;
  }
  .card-company__rating-block {
    flex-direction: column;
  }
  .card-company__rating-block .stars-rating__item {
    width: 13px;
    height: 13px;
  }
  .card-company__material-title {
    margin-bottom: 0;
  }
  .card-company__material-title._mob {
    display: block;
  }
  .card-company__accordeon-title-mob {
    display: block;
  }
  .card-company__accordeon-mob {
    border-radius: 3px;
    border: 1px solid #e9eef2;
  }
  .card-company__accordeon-mob .accordeon-content-js {
    display: none;
  }
  .card-company__accordeon-mob .accordeon-tab-js {
    pointer-events: inherit;
    font-size: 14px;
    line-height: 17px;
    padding: 20px 12px;
    border-radius: 3px 3px 0 0;
    position: relative;
  }
  .card-company__accordeon-mob .accordeon-tab-js::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    right: 15px;
    top: 23px;
    border-bottom: 1px solid #32ad13;
    border-left: 1px solid #32ad13;
    transform: rotate(-135deg);
    transition: all 0.3s ease;
  }
  .card-company__accordeon-mob .accordeon-wrapper-js {
    border-bottom: 1px solid #e9eef2;
  }
  .card-company__accordeon-mob .accordeon-wrapper-js:last-child {
    border-bottom: none;
  }
  .card-company__accordeon-mob .accordeon-wrapper-js.active .accordeon-tab-js:after {
    transform: rotate(-45deg);
    transition: all 0.3s ease;
  }
  .card-company__table-title {
    background: #fff;
    padding: 0px 0px 12px 0px;
  }
  .card-company__table {
    padding: 0px;
    margin: 0;
  }
  .card-company__table-body {
    padding: 30px 10px;
  }
  .card-company__table-body table thead th {
    font-size: 10px;
    padding: 10px 0 10px 5px;
  }
  .card-company__table-body table thead th:first-child {
    width: 42%;
  }
  .card-company__table-body table tbody td {
    font-size: 10px;
    line-height: 14px;
    padding: 10px 0 10px 5px;
  }
  .reviews-item__top {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .reviews-status {
    margin-bottom: 25px;
  }
  .reviews__no-reviews {
    padding: 40px 25px;
  }
  .reviews__no-reviews-content {
    max-width: 290px;
  }
  .reviews__no-reviews-title {
    font-size: 24px;
    line-height: 30px;
  }
  .reviews__no-reviews-btn {
    max-width: 100%;
  }
  .thanks__for-reviews {
    padding: 50px 25px;
  }
  .thanks__for-reviews-title {
    font-size: 24px;
    line-height: 29px;
    max-width: 250px;
  }
  .thanks__for-reviews__wrapper {
    transition: all 0s ease-in-out;
  }
  .thanks__for-reviews__wrapper.active {
    transition: all 0s ease-in-out;
  }
  .map {
    margin: 0;
  }
  .map-body {
    height: 0;
  }
  .map-address__item {
    flex-direction: column;
    align-items: flex-start;
  }
  .map-address__item-num {
    margin-right: 0px;
    margin-bottom: 12px;
  }
  .map-address__item-text {
    margin-bottom: 25px;
  }
  .map-address__item-link {
    margin-left: 0;
  }
  .footer-wrapper {
    padding: 0 28px;
    padding-top: 20px;
    padding-bottom: 35px;
    flex-direction: column;
    align-items: center;
  }
  .footer-nav {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .footer-nav li {
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .footer-nav li:last-child {
    margin-bottom: 0;
  }
  .footer-text {
    margin-bottom: 30px;
  }
}

@media (max-width: 360px) {
  .custom-checkbox {
    font-size: 10px;
    line-height: 14px;
  }
}
/*# sourceMappingURL=main.css.map */