.account-wrapper{
  padding-top: 30px;
  padding-bottom: 60px;
  max-width: 1032px;
  display: flex;
  margin: auto;
}
.account-info {
  font-weight: 400;
  font-size: 14px;
  max-width: 600px;
  margin-right: 30px;
  width: 100%;
  li {
    border-bottom: 1px solid #ededed;
    padding: 14px 0;
  }
  &_h {
    max-width: 200px;
    width: 100%;
    display: inline-block;
    margin-right: 30px;
  }
}
.account-col_left{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 370px;
  width: 100%;
}
.account-balance{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f9fc;
  border-radius: 5px;
  padding: 15px 20px;
  width: 100%;
  margin-bottom: auto;
}
.exchange {
  background: #f7f9fc;
  border-radius: 5px;
  padding: 40px 50px;
  width: 100%;
  &-metal{
    margin-bottom: 40px;
  }
  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    b {
      font-weight: 600;
    }
  }
  .exchange__icon {
    width: 10px;
    height: 8px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 20px;
  }
  .exchange__value{
    margin-left: auto;
  }
  &_up {
    .exchange__icon {
      background-image: url(../img/icons/curs-up.svg);
    }
    .exchange__value {
      color: $text-green;
    }
  }
  &_down {
    .exchange__icon {
      background-image: url(../img/icons/curs-down.svg);
    }
    .exchange__value {
      color: #FF4B55;
    }
  }
  &-btn {
    display: flex;
    &__item {
      color: $secondery-btn;
      border-radius: 30px;
      border: 1px solid  #fff;
      background: #fff;
      height: 25px;
      min-height: 25px;
      padding: 0 15px;
      margin-right: 10px;
      outline: none;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        color: #fff;
        background: $secondery-btn;
      }
    }
  }
}

.account-addbranch {
  padding: 60px 0;
}
.addbranch {
  &-title {
    margin-bottom: 30px;
  }
  &-body {
    display: flex;
    align-items: flex-start;
    &__wrapp {
      padding: 30px 0;
      background: $bg-block;
    }
  }
  &-items {
    width: calc(100% + 30px);
    margin: 0 -15px -20px -15px;
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: calc(33.3333% - 30px);
    margin: 0 15px 20px 15px;
    .custom-input {
      background: $bg-block;
      width: 100%;
      &__wrapp {
        display: block;
      }
    }
    .select {
      &-dropdown {
        min-width: 100%;
      }
    }
  }
  &-btn {
    margin-left: 30px;
    max-width: 210px;
  }
}

.material-price {
  margin-bottom: 60px;
  &__title {
  }
  &__tabs {
  }
  &__retail {
  }
  &__head-wrapp {
    margin-bottom: 60px;
  }
  &__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__retail-items {
    display: flex;
    width: 100%;
  }
  &__retail-item {
    margin-right: 30px;
    width: 100%;
    max-width: 240px;
  }
  &__btn {
    max-width: 210px;
  }
  &__list {
  }
  &__list-head-wrapp {
    margin-bottom: 24px;
  }
  &__list-head {
    display: flex;
    align-items: center;
    color: #81909f;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
  }
  &__col-num {
    width: 80px;
  }
  &__col-brand {
    width: 50%;
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
  }
  &__col-brand-price {
    width: 50%;
  }
  &__row-wrapp {
    background: $bg-block;
    margin-bottom: 10px;
    padding: 15px 0;
  }
  &__row {
    display: flex;
    align-items: center;
    &.clear-info {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
  &__wholesale {
  }
}
