.aggregator{
  &__page{
    padding: 40px 0 50px;
  }
}

.sidebar {
  max-width: 270px;
  background: #fff;
  position: relative;
  z-index: 5;
}
.main-tab {
  // position: absolute;
  opacity: 1;
  visibility: visible;
  left: 0;
  top: 0;
  z-index: 4;
  transition: all 0.5s, opacity 1.5s;
  overflow: hidden;
  .tab__item-icon {
    display: none;
    fill: $text;
    margin-bottom: 5px;
    max-height: 18px;
    max-width: 22px;
  }
  &.hidden {
    position: relative;
    left: -1000px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.5s, opacity 0.2s;
  }
}
.thanks__for-reviews {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 180px 0;
  background: linear-gradient(102.13deg, #f7f9fc 0.51%, #faf6ec 100%);
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 350px;
    height: 230px;
    background: url(../img/icons/star-bg.svg) center center no-repeat;
    background-size: contain;
  }
  &-icon {
    margin-bottom: 25px;
  }
  &-title {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    width: 100%;
    max-width: 310px;
    text-align: center;
  }
  &-text {
    width: 100%;
    max-width: 400px;
    color: #959da4;
    text-align: center;
  }
  &__wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 1000px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    &.active {
      opacity: 1;
      visibility: visible;
      left: 0;
      transition: all 0.2s ease-in-out;
    }
  }
}

.card-company {
  position: relative;
  z-index: 5;
  background: #fff;
  overflow: hidden;
  &__sidebar {
  }
  &__logo-wrapp {
    position: relative;
    margin-bottom: 20px;
  }
  &__content {
    position: relative;
  }
  &__logo {
    position: relative;
    z-index: 5;
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #043598;
    img {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
    .img-plug {
      padding: 15px;
    }
    &._premium:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 24px;
      height: 24px;
      min-width: 24px;
      min-height: 24px;
      display: block;
      border-radius: 50%;
      background: url(../img/icons/crown.svg) center center no-repeat;
      background-color: #f8d157;
    }
  }
  &__logo-label-wrapp {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
  }
  &__logo-label {
    border-radius: 3px;
    font-weight: 600;
    font-size: 11px;
    padding: 5px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-left: 6px;
    &._blue {
      background: #3485f1;
    }
    &._black {
      background: #34495e;
    }
  }
  &__title-wrapp {
    margin-bottom: 30px;
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $text;
    margin-bottom: 10px;
  }
  &__rating-block {
    display: flex;
    justify-content: space-between;
  }
  &__review-num {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: $text-green-2;
  }
  &__buttons {
    margin-bottom: 25px;
    .btn {
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__block {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__block-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  &__block-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: $text-gray-2;
  }
  &__street {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    span {
      display: block;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      margin-top: 8px;
    }
  }
  &__street-link {
    margin-top: 12px;
    position: relative;
    color: $text-green-2;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 14px;
      background: url(../img/icons/icon-location-2.svg) center center no-repeat;
      background-size: contain;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__block-schedule-label {
    color: $text-gray-2;
    padding-left: 25px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 8px;
      top: 0;
      width: 8px;
      height: 13px;
    }
    &._open:before {
      border: solid #2faa33;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    &._close:before {
      top: 9px;
      height: 2px;
      width: 13px;
      background: #e31823;
      transform: rotate(45deg);
    }
    &._close:after {
      content: "";
      top: 9px;
      left: 8px;
      transform: rotate(-45deg);
      position: absolute;
      height: 2px;
      width: 13px;
      background: #e31823;
    }
  }
  &__block-schedule {
    ul li {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: $text-gray-2;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    ul li span {
      color: $text;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      margin-left: 12px;
    }
  }

  &__section {
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__section-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
    &._mob {
      display: none;
    }
  }
  &__accordeon-title-mob {
    display: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 6px;
  }
  &__table {
    border-radius: 3px;
    margin-bottom: 12px;
  }
  &__table-title {
    background: #f7f9fc;
    padding: 40px 40px 25px 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  &__table-body {
    background: #f7f9fc;
    padding: 0px 40px 40px 40px;
    table {
      width: 100%;
      thead {
        tr {
        }
        th {
          font-weight: 600;
          font-size: 11px;
          line-height: 130%;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $text-gray-2;
          text-align: left;
          padding: 20px 0 20px 20px;
          &:first-child {
            width: 35%;
          }
        }
      }
      tbody {
        tr:nth-child(odd) {
          background: #fff;

          td:first-child {
            border-radius: 3px 0 0 3px;
          }
          td:last-child {
            border-radius: 0 3px 3px 0;
          }
        }
        td {
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: $text;
          padding: 20px 0 20px 20px;
          &:first-child {
            color: $text-gray-2;
          }
        }
      }
    }
  }
  &__material-cards {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 12px);
    margin: 0 -6px -12px -6px;
  }
  &__material-card {
    width: calc(50% - 12px);
    margin: 0 6px 12px 6px;
    padding: 40px;
    background: url(../img/icons/ruble.svg) right bottom no-repeat;
    background-position-x: 90%;
    background-color: #f7f9fc;
    border-radius: 3px;
  }
  &__material-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
    &._mob {
      display: none;
    }
  }
  &__accordeon-mob {
    .accordeon-content-js {
      display: flex;
    }
    .accordeon-tab-js {
      pointer-events: none;
    }
  }
  &__material-sub-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #959da4;
    margin-bottom: 40px;
  }
  &__material-price {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
  &__services-list {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 12px);
    margin: 0 -6px -12px -6px;
  }
  &__services-item {
    width: calc(50% - 12px);
    margin: 0 6px 12px 6px;
    display: flex;
    align-items: center;
  }
  &__services-icon {
    background: #f7f9fc;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    display: block;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
  }
  &__services-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
  &__gallery-list {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 2px);
    margin: 0 -1px -2px -1px;
  }
  &__gallery-item {
    width: calc(25% - 2px);
    margin: 0 1px 2px 1px;
    padding-top: 25%;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    a {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        background: inherit;
        transition: all 0.3s ease;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        left: 12px;
        top: 12px;
        z-index: 11;
        background: inherit;
        transition: all 0.3s ease;
      }
      &:hover {
        &:after {
          transition: all 0.3s ease;
          background: linear-gradient(0deg, rgba(50, 173, 19, 0.9), rgba(50, 173, 19, 0.9));
        }
        &:before {
          transition: all 0.3s ease;
          background: url(../img/icons/gallary-arrow.svg) right bottom no-repeat;
        }
      }
    }
    img {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }
}

.search-wrapper {
  display: flex;
  align-items: center;

  .search-input {
    max-width: 100%;
    width: 100%;
  }
  .btn_search {
    max-width: 100px;
    width: 100%;
    margin-left: 10px;
    line-height: 75px;
    padding: 0 30px;
  }
}

.search-input {
  display: flex;
  &__item {
    max-width: 270px;
    width: 100%;
    border: 1px solid #e9eef2;
    .custom-select.selectize-control .selectize-input {
      padding-top: 12px;
      border: none;
      &::after {
        top: 10px;
      }
      &.dropdown-active:after {
        top: 18px;
      }
    }
    .form-input {
      padding-top: 12px;
    }
  }
  &__label {
    padding: 12px;
    padding-bottom: 0;
    font-size: 12px;
    color: #959da4;
  }
  &_number {
    max-width: 600px;
    width: 100%;
    text-align: center;
    .form-input {
      max-width: 600px;
      width: 100%;
      text-align: center;
      border: none;
    }
  }
  &_region {
    .form-input {
      border: none;
    }
    .region_icon {
      position: absolute;
      right: 15px;
      bottom: 20px;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      display: inline-block;
      &::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/icons/icon-rus.svg");
      }
    }
  }
}
.reviews {
  &-list {
  }
  &-item {
    margin-bottom: 15px;
    border-radius: 3px;
    overflow: hidden;
    padding: 25px;
    border: 1px solid #e9eef2;
    &._moderation {
      background: #f7f9fc;
      border: none;
      .reviews-status {
        padding-left: 30px;
        &:after {
          display: block;
        }
      }
    }
  }
  &-item__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  &-status {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: $text-gray-2;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 5px;
      width: 18px;
      height: 18px;
      background: url(../img/icons/clock.svg) center center no-repeat;
      background-size: contain;
      display: none;
    }
  }
  &-item__info-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    margin-right: auto;
    margin-bottom: 23px;
  }
  &-item__info {
  }
  &-item__title {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 10px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $text-gray-2;
  }
  &-item__tell {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  &-rating {
  }
  &-item__text {
  }
  &__btn-more {
    max-width: 180px;
    padding: 16px 0;
  }
  &__no-reviews {
    background: #f7f9fc;
    border-radius: 3px;
    padding: 100px 30px;
  }
  &__no-reviews-content {
    width: 100%;
    max-width: 310px;
    margin: 0 auto;
  }
  &__no-reviews-title {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 12px;
  }
  &__no-reviews-sub-title {
    text-align: center;
    margin-bottom: 25px;
    color: $text-gray-2;
  }
  &__no-reviews-btn {
    display: block;
    max-width: 280px;
    margin: 0 auto;
  }
}
.new-reviews {
  padding: 40px;
  background: #f7f9fc;
  border-radius: 3px;
  &__wrapper {
    position: absolute;
    top: 0;
    left: 1000px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    &.active {
      opacity: 1;
      visibility: visible;
      left: 0;
      transition: all 0.2s ease-in-out;
    }
  }
  .form-group {
    margin-bottom: 12px;
  }
  .btn {
    margin-bottom: 12px;
  }
}

.map {
  &-body {
    height: 380px;
    background: url(../img/map.jpg) center center no-repeat;
  }
  &-address__list {
  }
  &-address__item {
    padding: 20px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    &:nth-child(odd) {
      background: #f7f9fc;
    }
  }
  &-address__item-num {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    display: block;
    border-radius: 50%;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: $accent;
  }
  &-address__item-text {
    margin-right: 20px;
  }
  &-address__item-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
  }
  &-address__item-sub-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
  &-address__item-link {
    margin-left: auto;
  }
}
