.offer {
    &__item {
        background-color: $bg-block;
        padding-top: 20px;
    }
    &__wrapper{
        width: 100%;
        max-width: 990px;
        padding: 0 30px;
        margin: 0 auto;
    }
    &__top {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 300;
        max-width: 575px;
        width: 100%;
        justify-content: space-between;
    }
    &__bottom {
        padding-top: 20px;
        border-top: 1px solid #ededed;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 10px;
        max-width: 100%;
        width: 100%;
        &__item {
            margin-bottom: 20px;
        }
    }
    &__col {
        min-height: 55px;
        margin-bottom: 20px;
    }
    &__avatar {
        border-radius: 50%;
        display: inline-block;
        flex-shrink: 0;
        & > img {
            width: 100%;
            border-radius: 50%;
            max-width: 40px;
            height: 40px;
            display: flex;
        }
    }
    &_name {
    }
    &_address {
    }
    &_prices {
    }
    &__tell {
        margin-left: auto;
        margin-bottom: 20px;
    }
    &__profil_text {
        min-height: 55px;
    }
    .work-time {
        position: relative;
        padding-left: 30px;
        font-size: 16px;
        font-weight: 500;
        &:before {
            content: "";
            position: absolute;
            left: 0px;
            top: -3px;
            display: inline-block;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-image: url(../img/icons/icon-time.svg);
        }
    }
}
